###> MONGODB ###
MONGODB_URI=mongodb://local:local@localhost:27017/
MONGODB_DATABASE=nvvt-app
###< MONGODB ###

###> NOVAVENTA ###x
NOVAVENTA_PRODUCT_SEARCH_URL="https://backoficinavirtual.novaventa.com/producto-index-pedido/productos-by-pasillo?query={code}&pageSize=1&page=1&campoEstricto=clBusquedaByPasillo"
NOVAVENTA_PRODUCT_IMAGE_URL="https://storage.googleapis.com/cdn-novaventa/tienda_virtual/2026/images/c{campaign_number}/300/{code}.webp"
NOVAVENTA_CART_URL="https://backoficinavirtual.novaventa.com/carrito/getCarritoByUuid?carritoUuid={cart_uuid}"
###< NOVAVENTA ###

###> STORAGE ###
CAMPAIGN_FILES_STORAGE_PATH=storage/campaigns
CAMPAIGN_FILES_STATIC_URL_PREFIX=/static/campaigns
###< STORAGE ###

###> JWT ###
JWT_SECRET="xxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
JWT_EXPIRATION_IN_MINUTES=180
JWT_REFRESH_SECRET="xxxxxxxxxxxxxxxxxxxxxxxxxxxx"
JWT_REFRESH_EXPIRATION_IN_MINUTES=131400
###< JWT ###

###> NOTIFICATIONS ###
NOTIFICATION_HEARTBEAT_INTERVAL_SECONDS=15
###< NOTIFICATIONS ###